html,
body {
  padding: 0;
  margin: 0;
  font-size: 12px;
  overflow-x: hidden;
  width: 100vw;
}

header {
  width: 100vw;
}

nav {
  position: fixed;
  display: flex;
  top: 0;
  height: 48px;
  width: 100%;
}

nav h1 {
  padding: 0;
  margin: 0;
}

nav h1 img {
  height: 48px;
}

nav ul {
  width: 100%;
  margin: 0;
  background-color: rgba(0, 0, 0, 1);
  padding: 12px 0 0 30px;
  display: flex;
  justify-content: flex-start;
}

nav ul li {
  list-style: none;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 0 25px 0 0;
}

nav ul li a {
  cursor: pointer;
  color: white;
}

nav ul li a:visited {
  color: white;
}

section {
  margin-top: 6vh;
}

section ul {
  width: 100vw;
  padding: 0 0 1em 0;
  margin: 0;
}

section ul li {
  list-style: none;
}

.like_count {
  font-size: 1.6em;
  width: 1.2em;
}

.title {
  font-size: 1.6em;
}

.info {
  font-size: 1.4em;
}

footer {
  padding: 0 0 2em 0;
}
footer a {
  font-size: 1em;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 4px;
  border-bottom: 1px solid #efefef;
}

.points {
  display: flex;
  font-size: 2em;
  font-weight: 800;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 3em;
  flex-shrink: 0;
}

.content {
  display: flex;
  align-content: center;
  flex-direction: column;
  font-size: 1.5em;
}

.info {
  margin-top: 0.5em;
  color: #aeaeae;
  font-size: 1em;
}

#more {
  font-size: 1.5em;
  padding: 1em;
}

section div.item {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 0 0 1em 0;
  margin: 0;
  align-items: flex-start;
  padding: 12px 0 0 30px;
}

section div.item {
}

.domain {
  color: #aeaeae;
  font-size: 0.7em;
}
